body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

body>div {
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
}

.section-1 {
    background-color: #1F2937;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.section-1-content {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    gap: 80px;
    margin-bottom: 140px;
}

.title-img {
    background-color: rgb(131, 131, 138);
    font-size: 18px;
    color: #E5E7EB;
    width: 540px;
    height: 240px;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 48px;
    margin: 0;
    font-weight: 800;
    color: #F9FAF8;
}

.title-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    margin-top: 8px;
}

.signup-btn {
    background-color: #3882F6;
    color: #E5E7EB;
    border: 0px;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    width: 125px;
    border-radius: 7px;
    margin-top: 14px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-2-content {
    display: flex;
    gap: 50px;
    margin-bottom: 100px;
}

.section-2-img {
    width: 170px;
    height: 170px;
    border: 3px solid;
    border-color: #3882F6;
    border-radius: 16px;
}

.subtitle {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    margin: 50px;
}

.section-2-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 170px;
}

.section-2-caption {
    margin-top: 9px;
    font-size: 19px;
    font-weight: 400;
}

.section-3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding-top: 120px;
    padding-bottom: 90px;
    padding-left: 330px;
    padding-right: 330px;
}

.section-3-quote {
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.section-3-credits  {
    margin: 0;
    margin-right: 60px;
    padding: 0;
    align-self: end;
    color: #1F2937;
    font-weight: bold;
    font-size: 22px;
}




.section-4 {
    
}

.footer {
    background-color: #1F2937
}