body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

body>div {
    padding-left: 200px;
    padding-right: 200px;
}

.section-1 {
    background-color: #1F2937;
}

.section-2 {
    
}

.section-3 {
    background-color: #E5E7EB;
}

.section-4 {
    
}

.footer {
    background-color: #1F2937
}