body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

body>div {
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
}

.section-1 {
    background-color: #1F2937;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.section-2 {
    
}

.section-3 {
    background-color: #E5E7EB;
}

.section-4 {
    
}

.footer {
    background-color: #1F2937
}